{% extends 'base.html.twig' %}

{% block title %}Страница не найдена{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h2>404я Ошибка</h2>
                <div class="error-details">
                    Запрашиваемая страница не найдена
                </div>
            </div>
        </div>
    </div>
{% endblock %}